//colors
$clr-black: #000;
$clr-mineshaft: #222;
$clr-carrot: #ba0000;
$clr-white: #fff;
$clr-smog: #d7d7d7;
$clr-manatee: #8b9dac;
$clr-slate-grey: #3b4a54;
$clr-smoky-whitey: #f1f4f7;
$clr-saturated-blue: #005399;
$clr-aqua: #0097f6;
$clr-slate-grey: #2c3e50;
$clr-gray: #ddd;

//media queries
$desktop: 1919px;
$laptop-big: 1439px;
$laptop: 1219px;
$laptop-small: 1023px;
$tablet: 767px;
$tablet-small: 600px;
$mobile: 424px;
