//colors
$clr-black: #000;
$clr-mineshaft: #222;
$clr-carrot: #ba0000;
$clr-white: #fff;
$clr-smog: #d7d7d7;
$clr-slate-grey: #3b4a54;
$clr-smoky-whitey: #f0f2f5;
$clr-saturated-blue: #005399;
$clr-slate-grey: #2c3e50;
$clr-gray: #ddd;

//media queries
$desktop: 1919px;
$laptop-big: 1439px;
$laptop: 1219px;
$laptop-small: 1023px;
$tablet: 767px;
$mobile: 424px;

